@import "rsuite/dist/rsuite.css";
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


.rs-picker-toggle-value {
  color: black !important;
}
.rs-input-group{
  border-color: #c5c6c7 ;
}
.rs-input-group:hover{
  border-color: #282c34 ;
}
.rs-input-group:focus{
  outline:none;
}
.rs-picker-toggle-active{
  box-shadow:  none !important;
}

.App {
  text-align: center;
 
}

#chart{
  height: 70vh;
  padding:0;
  position: relative;
}

.offset-number{
  
  display:flex;
  align-items: center;
}


.offset-minus, .offset-plus{
  cursor:pointer;
  color:#adaaaa;
}
.offset-minus:hover, .offset-plus:hover{
  color:#1976d2;
  border-radius: 6px;
}


.MuiFormHelperText-root.Mui-error{
    font-size: 0.67rem !important;
    display: flex !important;
}
.css-1n4twyu-MuiInputBase-input-MuiOutlinedInput-input{
  font-size: 0.8rem !important;
  color:rgba(0, 0, 0, 0.6) !important;
}
Button{
  text-transform: unset !important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
} 

/* .date-time-container{
  width:100%;
  z-index: 100 !important;
} */

